.ant-table-striped-raw-data {
  thead {
    tr {
      &:not(:nth-child(1)) {
        color: #ffffff;
        th {
          border-bottom: none !important;
          color: inherit !important;

          &:nth-child(2n-1) {
            background-color: #0a5fa7 !important;
            border-right: 1px solid #0a5fa7 !important;
          }

          &:nth-child(2n) {
            background-color: #1f80c6 !important;
            border-right: 1px solid #1f80c6 !important;
          }
        }
      }
    }
  }
}

.ant-table-striped-statistics {
  thead {
    tr {
      &:nth-child(2) {
        th {
          margin-top: 6px;
        }
      }

      &:not(:nth-child(1)) {
        color: #ffffff;
        th {
          border-bottom: none !important;
          color: inherit !important;

          &:nth-child(2n-1),
          &[rowspan='2'][colstart='6'],
          &[colspan='3'][colstart='8'],
          &[colstart='11'][colend='11'],
          &[colstart='13'][colend='13'] {
            background-color: #0a5fa7 !important;
            border-right: 1px solid #0a5fa7 !important;
          }

          &:nth-child(2n),
          &[colspan='3'][colstart='11'],
          &[colstart='8'][colend='8'],
          &[colstart='10'][colend='10'] {
            background-color: #1f80c6 !important;
            border-right: 1px solid #1f80c6 !important;
          }
        }
      }
    }
  }
}

.ant-table-pagination-right {
  justify-content: center !important;
}
